/* Global, hefur Ã¡hrif allstaÃ°ar Ã¡ allar sÃ­Ã°ur. */
*, *:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0; }

.container {
  overflow: hidden; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-bottom: 20px;
  margin-left: -10px; }

.col {
  padding-right: 10px;
  padding-left: 10px; }
  .col-12 {
    width: 100%; }
  .col-8 {
    width: 66.66667%; }
  .col-6 {
    width: 50%; }
  .col-4 {
    width: 33.33333%; }
  .col-3 {
    width: 25%; }
  @media (max-width: 599px) {
    .col-sm-12 {
      width: 100%; }
    .col-sm-6 {
      width: 50%; }
    .col-sm-3 {
      width: 25%; } }
  @media (max-width: 399px) {
    .col-sm2-12 {
      width: 100%; }
    .col-sm2-6 {
      width: 50%; } }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5; }

section {
  margin-bottom: 30px; }

h1 {
  margin-bottom: 30px; }

h2 {
  margin-bottom: 30px; }

section h2:nth-of-type(1) {
  margin-bottom: 30px;
  border-bottom: 1px solid #999; }

hr {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border: 0;
  border-bottom: 1px solid #999; }


h1, h2, h3 { font-family: 'Roboto Slab', serif; }
h1 { font-size: 5rem; }
h2 { font-size: 2.5rem; }
h3 { font-size: 1.5rem; }

.sg-example {
  display: flex;
  flex-wrap: wrap;
  align-items: center; }

.sg-example > * {
  margin: 0 7px 7px 0; }

.sg-example > *:last-child {
  margin-right: 0; }


header .container {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 10px;
  position: fixed;
  z-index: 99; }

.navbar {
  font-family: 'Roboto Slab', serif;
  font-size: 1.5em;
  font-weight: bold;
  float: left; }

header nav {
  float: right;
  margin-top: 5px;
  padding-right: 30px; }

header a {
  color: #ffffff;
  text-decoration: none;
  padding: 8px 15px 8px 15px;
  cursor: pointer; }

header li {
  display: inline; }

.bakgrunnur {
  width: 100%;
  height: 500px;
  background: transparent url(https://via.placeholder.com/550x250) no-repeat 50% 50%;
  opacity: 0.8;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.bakgrunnur .titill {
	color: white;
	margin: 20px; }

.bakgrunnur .titill h1 {
	color: white;
	margin: 20px;
	word-break: break-word;
  font-size: 3.75em; }

li {
  list-style-type: none; }

.buttonkaupa {
  background-color: #666666;
  border: 1px solid #666666;
  border-radius: 5px;
  transition: background-color 500ms ease, color 500ms ease; }

.buttonkaupa:hover {
  background-color: #404040;
  border: 1px solid #cccccc; }

.buttonborder {
  color: #FFF;
  text-decoration: none;
  padding: 0.5rem 4rem 0.5rem 4rem;
  cursor: pointer;
  background-color: #666;
  border: 1px solid #666;
  border-radius: 5px;
  transition: background-color 500ms ease, color 500ms ease; }

.buttonborder:hover {
  background-color: #333;
  border: 1px solid #cccccc; }

.button {
  text-align: center;
  padding: 1rem; }

button, .button a {
  font-size: 2em;
  color: #FFF;
  text-decoration: none;
  background-color: #666;
  border-radius: 5px;
  cursor: pointer;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  transition: background-color 500ms ease; }

button:hover, .button a:hover {
  background-color: #333333; }

main {
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
  margin: 0 auto;
  padding: 30px; }


img {
  width: 100%; }

.kortalisti {
  display: flex;
  flex-direction: column; }

.svg {
   margin-top: auto;
   margin-bottom: auto; }

 .box { text-align: center;
   display: flex;
   flex-direction: column; }

 .hringur {
   border-radius: 50%;
   width: 80%; }

 .medmaeli__text {
   display: flex;
   flex-direction: column;
   margin-top: 1em; }

 .medmaeli__q {
   font-size: 1.489em;
   font-style: italic;
   font-weight: bold;
   margin-top: auto;
   margin-bottom: 0.5em; }

 .medmaeli__um {
   margin-top: auto; }

 .medmaeli__um p:nth-of-type(1) {
   font-size: 1.125em;
   font-weight: bold; }

 .medmaeli__um p:nth-of-type(2) {
   font-size: 0.875em; }

 footer {
   color: #e6e6e6;
   text-align: center;
   background-color: #333333; }

 footer .container {
   padding-top: 1.25em;
   padding-bottom: 1.25em; }

 footer .above {
   border-bottom: 3px solid #909090;
   display: flex;
   justify-content: center;
   padding-bottom: 2em; }

 footer .below {
   font-size: 0.875em;
   color: #999999; }
