.footer {
  display: flex;
  flex-direction: column;  /* vera viss um að þetta skalist */
  height: 10rem;
  background: #333;
  color: #FFF; }

.footer__text {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 2rem;}

.footer__text--1 {
  display: flex;
  flex-direction: column;
  align-items: center; }

.footer__text--2 {
  display: flex;
  flex-direction: column;
  align-items: center; }

.footer__text--3 {
  display: flex;
  justify-content: center;
  font-size: 0.8rem;
  padding-top: 0.7rem;
  border-top: 1px solid #999;
  color: #999; }
