@charset "UTF-8";

$max-width: 1200px;
$gutter: 20px;

*, *:before, *:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  margin-right: $gutter;
  margin-left: $gutter;
  line-height: 1.5; }

  img {
    max-width: 100%; }

  main {
    max-width: $max-width;
    margin: 0 auto;
    overflow-x: hidden; }
