@charset "UTF-8";
*, *:before, *:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0; }

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5; }

img {
  max-width: 100%; }

main {
  margin-right: 20px;
  margin-left: 20px;
  overflow-x: hidden; }

.header--foo {
  background-image: url(bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  margin-bottom: 2em;
  width: 100%;
  height: 70rem; }

.header--fixed {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  padding: 5px;
  height: 3rem; }

.header--fixed li {
  padding-right: 1rem; }

.button {
  text-decoration: none;
  color: #FFF; }

.button--main {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 1.5rem;
  font-weight: bold; }

.button--right {
  display: flex;
  align-self: center;
  list-style: none; }

.button--nav2 {
  background-color: #666;
  border-radius: 0.3rem;
  padding: 0.3rem; }

.header--foo1 {
  display: flex;
  justify-content: center; }

.header__content {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-top: 14rem;
  /*Sjá hvort hægt sé að align-content */
  font-family: 'Roboto Slab', sans-serif;
  text-align: center; }

.header__content h1 {
  font-size: 6rem;
  padding-bottom: 3rem;
  animation-name: fadein;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-fill-mode: both; }

@keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.header__content h3 {
  font-size: 3rem;
  animation-name: fadein;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-fill-mode: both; }

@keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.button--header {
  font-family: 'Open Sans', sans-serif;
  font-size: 4.5rem;
  border-radius: 0.3rem;
  background-color: #666;
  color: #eee;
  text-decoration: none;
  padding: 0.5rem 1rem 0.5rem 1rem;
  animation-name: fadein;
  animation-duration: 3s;
  animation-delay: 3s;
  animation-fill-mode: both; }

@keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@media (max-width: 600px) and (max-device-width: 600px) {
  .header__content h1 {
    font-size: 4rem;
    padding-bottom: 3rem; }
  .header__content h3 {
    font-size: 2rem; }
  .button--header {
    font-size: 3rem; } }

@media (max-width: 400px) and (max-device-width: 400px) {
  .header--foo {
    height: 35rem; }
  .header__content h1 {
    font-size: 3rem;
    font-weight: bold; }
  .header__content h3 {
    font-size: 1.5rem; }
  .button--header {
    font-size: 2rem; } }

div {
  /* stylelint-disable-line */
  width: 100%; }

.text {
  display: flex;
  flex-flow: row;
  align-items: center;
  padding-top: 8rem; }

.text__text {
  display: flex;
  flex-direction: column; }

.saman {
  display: flex;
  flex-flow: row; }

svg {
  /* stylelint-disable-line */
  width: 35px;
  height: auto; }

h4 {
  /* stylelint-disable-line */
  padding-top: 5.2rem;
  padding-left: 0.3rem;
  font-size: 1.4rem;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: bold; }

div + p {
  /* stylelint-disable-line */
  font-size: 1.2rem;
  margin-top: -4rem;
  padding-left: 2.3rem; }

.text__img {
  padding-top: 5rem;
  padding-left: 1rem;
  max-width: 100%;
  height: auto;
  object-fit: cover; }

.medmaeli {
  display: flex;
  justify-content: center;
  padding-top: 10rem;
  padding-bottom: 5rem;
  width: 100%; }

.medmaeli__AS {
  display: flex;
  width: 66.66%; }

.medmaeli__J {
  display: flex;
  width: 33.33%; }

.medmaeli__content--A {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.medmaeli__content--S {
  display: flex;
  flex-direction: column;
  align-items: center; }

.medmaeli__content--J {
  display: flex;
  flex-direction: column;
  align-items: center; }

.medmaeli__content {
  display: flex;
  flex-flow: column;
  width: 100%; }

.medmaeli__img {
  border-radius: 20rem;
  width: 80%; }

.medmaeli__text--S {
  padding-top: 2.5rem; }

.medmaeli__text--J {
  padding-top: 2.5rem; }

.medmaeli__text__q {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic; }

.medmaeli__text__n {
  text-align: center;
  padding-top: 1rem;
  font-weight: bold; }

.medmaeli__text__a {
  text-align: center; }

.lokaord {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-bottom: 7rem;
  padding-top: 5rem; }

.lokaord__text {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 1rem; }

.lokaord__button {
  width: 17rem;
  background-color: #666;
  border-radius: 0.3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #FFF;
  font-size: 1.5rem;
  text-decoration: none;
  text-align: center; }

@media (max-width: 600px) and (max-device-width: 600px) {
  h4 {
    /* stylelint-disable-line */
    font-size: 1.5rem;
    padding-top: 5.2rem; }
  div + p {
    /* stylelint-disable-line */
    font-size: 1.2rem;
    margin-top: -5rem;
    padding-bottom: 0.5rem; }
  .text {
    flex-flow: column; }
  .text__img {
    padding-top: 4rem; }
  .medmaeli {
    flex-flow: column;
    align-items: center;
    width: auto; }
  .medmaeli__img {
    padding-right: 1rem;
    display: flex;
    justify-content: center; }
  .medmaeli__text {
    display: flex;
    flex-direction: column; }
  /*það þarf að laga Siggi Páls svo það sé flex-end */
  .medmaeli__text__q {
    font-size: 1.5rem; }
  .medmaeli__content {
    display: flex;
    flex-flow: column; }
  .medmaeli__AS {
    display: flex;
    flex-flow: row;
    width: 100%; }
  .medmaeli__J {
    display: flex;
    width: 50%;
    padding-top: 2rem; } }

@media (max-width: 400px) and (max-device-width: 400px) {
  h4 {
    /* stylelint-disable-line */
    font-size: 1.3rem;
    padding-top: 5.2rem; }
  div + p {
    /* stylelint-disable-line */
    font-size: 1.1rem;
    margin-top: -4rem; }
  .text__img {
    display: flex;
    padding-top: 4rem;
    align-items: center; }
  .medmaeli__text__q {
    font-size: 1.4rem; }
  .medmaeli__text__a {
    padding-bottom: 1.5rem; }
  .medmaeli__AS {
    flex-flow: column; }
  .medmaeli__J {
    width: auto; }
  .lokaord__text {
    text-align: center; } }

.footer {
  display: flex;
  flex-direction: column;
  /* vera viss um að þetta skalist */
  height: 10rem;
  background: #333;
  color: #FFF; }

.footer__text {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 2rem; }

.footer__text--1 {
  display: flex;
  flex-direction: column;
  align-items: center; }

.footer__text--2 {
  display: flex;
  flex-direction: column;
  align-items: center; }

.footer__text--3 {
  display: flex;
  justify-content: center;
  font-size: 0.8rem;
  padding-top: 0.7rem;
  border-top: 1px solid #999;
  color: #999; }
