$gutter: 20px;

*, *:before, *:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0; }

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5; }

  img {
    max-width: 100%; }

  main {
    margin-right: $gutter;
    margin-left: $gutter;
<<<<<<< HEAD
    overflow-x: hidden; }

@import "header.scss";
@import "index.scss";
@import "footer.scss";
=======
    max-width: $max-width;
    overflow-x: hidden; }

@import "Um.scss";
>>>>>>> 6e4e5d5a46cb2ff51b32273140cbf8a40ca15da3
