*, *:before, *:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0; }

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5; }

img {
  max-width: 100%; }

main {
  margin-right: 20px;
  margin-left: 20px;
  overflow-x: hidden; }

header {
  width: 100%;
  height: 35em;
  margin-bottom: 2rem;
  background: url(bg-subpage.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 50% 50%;
  background-size: cover; }

.header {
  padding-top: 15rem;
  padding-left: 20px;
  font-family: 'Roboto Slab', sans-serif;
  color: white;
  font-size: 3rem; }

.text__content {
  padding-top: 4rem; }

h3 {
  font-family: 'Roboto Slab', sans-serif; }

p {
  padding-top: 1rem; }

blockquote {
  float: right;
  margin-top: 1rem;
  margin-bottom: 4rem;
  margin-left: 8rem;
  font-style: italic; }

blockquote > p {
  font-size: 1.5rem;
  margin-bottom: 1em; }

main > .text__content {
  margin-bottom: 5em; }

.baediformin {
  display: flex;
  justify-content: space-around; }

.button--panta {
  background-color: #666;
  border: none;
  padding: 0.5rem 4rem;
  border-radius: 0.2rem;
  color: #FFF;
  display: block;
  margin-left: auto;
  margin-right: auto; }

fieldset {
  border: none; }

legend {
  font-size: 1.5rem;
  padding-top: 2rem; }

.label {
  display: inline-block;
  margin-top: 1rem; }
